{% load static %}
{% include 'navbar.html'%}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
 </head>
 <body>
    <!-- about section start -->
 <section id="about">
    <div class="about-page">
        <div class="about-img">
            <img src="https://cdn.pixabay.com/photo/2015/03/11/00/31/chicken-667935_1280.jpg" alt="">
        </div>
        <div class="about-text">
            <h2><span>About</span> Us</h2>
            <h4>Why Choose us?</h4>
            <p>Quality of Service, Food, Ambiance and Value of Money are the primary elements for choosing a
                restaurant. Our food is like a magical trip for your taste buds. Our chefs create amazing dishes
                that you won't find anywhere else.</p>
            <div class="about-btn">
                <a href="#order">Order Now</a>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>
<!-- abou section end -->
 </body>
 </html>
 
 
 
 